* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #141414;
  color: #e5e5e5;
}
.form {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form input[type="text"] {
  margin-bottom: 10px;
  outline: none;
  border: 2px solid #e50914;
  padding: 5px 10px;
}
form input[type="submit"] {
  background-color: #e50914;
  border: none;
  padding: 5px 10px;
}
.all-movies {
  width: 300px;
  border: 2px solid #6a050a;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 10px;
  margin-top: 10px;
}
.all-movies button {
  background-color: #e50914;
  border: none;
  padding: 3px 5px;
  font-size: 10px;
}
